@charset "UTF-8";

:root {
  /*FONTS*/
  --font-paragraph: 'Red Hat Display', sans-serif;
  --font-title: 'Lobster', serif;
  --font-paragraph-color: #4a4a4a;
  --font-title-color: #333333;

  /*COLORS*/
  --color-bckg: #FFFFFF;
  --color-accent: hsl(76, 100%, 50%);
  --color-accent_darker: hsl(76, 100%, 47%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-paragraph);
}

body {
  max-width: 1440px;
  margin: auto;
  color: var(--font-paragraph-color);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-title);
  color: var(--font-title-color);
}

a {
  color: inherit;
}

svg.ph-icon-btn {
  cursor: pointer;
  transition: 250ms;
}

svg.ph-icon-btn:active {
  transform: scale(0.95);
}